<div class="chart">
    <div class="row">
        <div class="col-sm-6 col-lg-6">
            <div id="bar" class="chart-wrapper">
                <canvas baseChart 
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [chartType]="barChartType">
              </canvas>
            </div>
        </div>
        <div class="col-sm-6 col-lg-6">
            <div id="bar2" class="chart-wrapper">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-lg-6">
            <div id="pie" class="chart-wrapper">
                <canvas baseChart 
                [data]="pieChartData" 
                [labels]="pieChartLabels" 
                [chartType]="pieChartType"
                [options]="pieChartOptions"
                [plugins]="pieChartPlugins"
                [legend]="pieChartLegend">
              </canvas>
            </div>
        </div>
        <div class="col-sm-6 col-lg-6">
            <div id="bubble" class="chart-wrapper">
                <canvas baseChart
                [datasets]="bubbleChartData"
                [options]="bubbleChartOptions" 
                [legend]="bubbleChartLegend"
                [chartType]="bubbleChartType">
              </canvas>
            </div>
        </div>
    </div>
</div>