.subs-count{
    margin: 20px;
}

.g-chart{
    margin:20px;
    padding-top: 20px;
}

#doughnut{
    border-radius: 2%;
    padding-top: 10px;
    background-color:rgb(66, 59, 59); 
}

#radar{
    border-radius: 2%;
    background-color:rgb(66, 59, 59);
    margin-top: 10px;
}

#line{
    border-radius: 2%;

    background-color:rgb(66, 59, 59);

    max-width: 100%;
    max-height: 100%;
}